body{
	height:100hw;
	width:100hw;
	background-image: url("images/myDCbackround.png");
	font-family: "Comfortaa";
	background-size: cover;
}
.info{
	font-size:25px;
	font-family: "Comfortaa";
	color:white;
}
.title{
	font-size:30px;
	font-family: "Comfortaa";
	color:white;
}